{% extends "base.html" %}

{% block titulo %}Friends{% endblock %}


{% block proyecto %} Hello, {{request.session.usuario.alias}}! {% endblock %}
{% block contenido %}
<div class="container"></div>
    {% if friends%}
    <h2>Here is the list of your friends:</h2>
    <div class="row">
        <div class="col col-md-8">
            <table class="table table-bordered table-striped col-md-6">
                <tr>
                    <th>Alias</th>
                    <th>Action</th>
                    
                </tr>
                {% for friend in friends %}
                <tr>
                    <td>{{friend}}</td>

                    <div id="tablelinks">
                        <td><a href="/user/{{friend}}">View Profile</a>|  <a
                                href="/removefriend/{{friend}}">Remove as Friend</a></td>
                    </div>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>You don't have friends yet.</h3>
        {% endif%}
        </div>
    </div>
    {% if nonfriends %}
        <h2>Other Users not on your friend's list:</h2>
        <div class="container">

        <div class="row">
        <div class="col col-md-6">
            <table class="table table-bordered table-striped ">
                <tr>
                    <th>Alias</th>
                    <th>Action</th>
                </tr>
                {% for user in nonfriends %}
                <tr>
                    <td><a href="/user/{{user.id}}">{{user.alias}}</a></td>
                    <div id="tablelinks">
                        <td><a href="/addfriend/{{user.id}}" class="btn">Add as Friend</a></td>
                    </div>
                </tr>
                {% endfor %}
            </table>
        {%endif%}
    </div>
</div>



<!-- <h1>Bienvenid@: {{request.session.usuario.name}}</h1> -->
<!-- <a href="/logout">SALIR DEL SISTEMA</a> -->

{% endblock %}

{% block libreria %}
{% endblock %}